li{

    list-style: none;
    border: 1px solid #d63131;
margin: 5px;
width: 35%;
    text-align: center;
}
li:hover{
    border: 1px solid #4cd631;

    list-style: none;

    margin: 6px;
    width: 37%;
        text-align: center;
}

.kontener{

    display: flex;
    .lewy{
        width: 50%;
    }
    .message_form{
        margin: 5%;
width: 75%;
height: 75%;
    }
}

.selected {

    border: 1px solid #4cd631;

    list-style: none;

    margin: 6px;
    width: 37%;
        text-align: center;
}
#selected {

    border: 1px solid #4cd631;

    list-style: none;

    margin: 6px;
    width: 37%;
        text-align: center;
}
.left-message {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.right-message {
    background-color: #d0d0d0;
    padding: 10px;
    margin-bottom: 5px;
    text-align: right;
}

.date-message {
    font-size: smaller; /* Ustaw mniejszą czcionkę */
    /* Dodaj tutaj inne style dla daty, jeśli są potrzebne */
}

/* Style dla treści wiadomości */
.content-message {
    font-size: larger; /* Ustaw większą czcionkę */
    /* Dodaj tutaj inne style dla treści wiadomości, jeśli są potrzebne */
}
#message_story {
    background-color: white;
    border: 2px solid red;
    padding: 10px; /* Dodaj dowolną ilość wypełnienia w pikselach */
}